@font-face {
   font-family: 'Geraldton-Medium';
   font-display: swap;
   src: url('file:///C:/Users/stark/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-31_175144/fonts/Geraldton-Medium/font.ttf');
}
